:root {
    --background-color: hsl(235, 21%, 11%);
    --background-todo: hsl(235, 24%, 19%);
    --text-color: hsl(234, 39%, 85%);
    --text-color-hover: hsl(236, 33%, 92%);
    --text-dimmed: hsl(234, 11%, 52%);
    --divider: hsl(237, 14%, 26%);
    /* --a: hsl(233, 14%, 35%); */
}