.todo {
    border-bottom: 1px solid var(--divider);
    background-color: var(--background-todo);
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 1rem;
    align-items: center;
}

.todo:hover {
    cursor: move;
    filter: brightness(1.2);
}

.todo p {
    user-select: none;
    color: var(--text-color);
}

.delete-btn {
    color: var(--text-dimmed);
}

.delete-btn:hover {
    color: var(--text-color-hover);
}