main h1 {
    letter-spacing: 0.3em;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-dimmed);
}

.background-image {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.todo-list-container {
    z-index: 20;
    width: 90%;
}

.box {
    margin: 1.2rem;
    padding: 1.2rem;
    border-radius: 0.3em;
    background-color: var(--background-todo);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.425);
}

.checkbox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--text-dimmed);

    transition: border-radius, border 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--background-todo);
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--check-background);
}

.checked img {
    width: 60%;
}

.checkbox:hover {
    cursor: pointer;
    border-color: var(--primary-color);
    border-width: 3px;
}

.options button:hover {
    color: var(--text-color-hover);
}

.text-active {
    color: var(--primary-color);
    font-weight: bold;
}

.todos-container {
    transition: height .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
