@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* Variables */
:root {
    --primary-color: hsl(220, 98%, 61%);
    --check-background: linear-gradient( 120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%) )
}

/* Normalize document  */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input[type="submit"],
input[type="reset"],
input[type="text"] {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

input[type="text"] {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-dimmed);
}

input[type="text"]:hover, input[type="text"]:focus {
    color: var(--text-color-hover);
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100vh;

    display: flex;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 4em 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.separated-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-series {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}